body, html{
  margin: 0;
}
.container-form {
  text-align: center;
  background-color: #878AF5;
}

h6{
  color: #ffffff;
  text-align: left; 
  font-size: 40px; 
  margin: 5%;
  margin-top: 0;
  margin-bottom: 1%;
}
h5{
  color: #ffffff;
  text-align: left; 
  font-size: 25px; 
  margin: 0;
  margin-left: 5%;
}

.img-profile {
  display: none; 
}

.task-content {
  margin-bottom: 20px;
}

.task-content input[type="text"] {
  padding: 8px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.btn-task {
  padding: 8px 16px;
  background-color: rgb(255, 255, 255);
  color: #6869F4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-task:hover {
  background-color: #ffffff;
}

.btn-task-filled {
  padding: 8px 16px;
  background-color: #6869F4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.task-content input[type="text"]{
  width: 50%; 
  padding: 10px; 
  border-radius: 5px; 
  font-size: 16px; 
  margin-bottom: 5%;
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .header-form {
    position: relative;
    width: 100% auto; 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
  
  .img-profile{
    width: 15%;
    height: 15%;
    margin: 5%;
    display: block;
}
.header-form h5 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-left: 5%;
  margin-bottom: 5%;
}

.header-form h6 {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.8;
  margin: 0;
  margin-left: 5%;
}

}
  
