.info-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  position: static;
  margin-top: 45%;
}

.content-one,
.content-two,
.content-three {
  flex: 1;
  padding: 20px;
  margin: 10px;
  text-align: center;
}



.icon-info {
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
}


@media only screen and (max-width: 768px) {
  .info-container {
    flex-direction: column;
    margin-top: 180%;
    margin-bottom: 10%;
    position: static;
  }

  .content-one, .content-two, .content-tree {
    width: 100%; 
  }
  .icon-info {
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
  }
  
}

  