h1{
    text-align: center; 
    margin-top: 20px;
    font-size: 24px; 
    font-weight: bold; 
    color: #8d32f6;
}
.cat-card {
    width: 300px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
    
  }
  
  .cat-card p {
    margin-bottom: 10px;
  }
  
  .cat-card img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto 10px; 
  }
  
 