.cat-card {
    width: 300px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cat-card p {
    margin-bottom: 10px;
  }
  
  .cat-card img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .cat-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cat-button:hover {
    background-color: #0056b3;
  }