.container-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .container-footer p {
    margin: 0;
  }
  
  .container-footer strong {
    margin: 0 5px;
    color: #010143;
  }
  .delete-all{
  padding: 8px 16px;
  background-color: #6869F4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10%;
  }
  