
* {
  font-family: "Inter", sans-serif;
}

.banner-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background: linear-gradient(to right, #DC6734, #fe8c5b );
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.text-content {
  flex: 1; 
  text-align: left; 
}

.btn {
  padding: 20px 30px;
  border-radius: 30px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
  margin-top: 30px;
  box-shadow: black 2%;
}

.img-banner {
  width: 100%; 
  max-width: 670px;
  margin-top: 5%;
}
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box; /* Ajuste del modelo de caja */
  margin-top: 12%;
  }
  }

  .text-content {
    text-align: center;
    margin-bottom: 20px;
  }

  .btn {
    padding: 15px 25px;
    margin-top: 20px;
  }

  .img-banner {
    margin-top: 1.5%;
  }

